# Ignore Visual Studio folder
.vs/

# Ignore Visual Studio workspace files
*.suo
DocumentLayout.json
DocumentLayout.backup.json
VSWorkspaceState.json

# Ignore SQLite database files
*.sqlite

# Ignore temporary files
*.log
*.tmp

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Ansible retry files
*.retrygit